<div class="card">
	<img src="{{ p.mainPicture }}" class="img-fluid" alt="image du produit">
	<div class="card-body">
		<h4 class="card-title">{{ p.name }}
			({{ p.price / 100}}€)</h4>
		<span class="badge badge-warning">{{ p.category.name }}</span>
		<p class="card-text">{{ p.shortDescription }}</p>
		<a href="{{ path('product_show', {'category_slug': p.category.slug, 'product_slug': p.slug})}}" class="btn btn-primary btn-sm">Détails</a>
		<a href="{{ path('cart_add', {'id': p.id}) }}" class="btn btn-sucess btn-sm">Ajouter</a>
	</div>
</div>
